# --- input Section ---
# Enter SKU ( Unique Number ) : 101
# Enter Product Name : Books
# Enter Product QT : 20
# Enter Single Book Price : 120/-

# Do you Want Add more [Y/N]
# Y
# Enter SKU ( Unique Number ) : 102
# Enter Product Name : toy
# Enter Product QT : 5
# Enter Single Book Price : 560/-

# Do you Want Add more [Y/N]
# Y
# Enter SKU ( Unique Number ) : 103
# Enter Product Name : Samosa
# Enter Product QT : 250
# Enter Single Book Price : 20/-

# Do you Want Add more [Y/N]
# N
# --- Output Section---------
# ------  Search Item ------
# Enter Product Item Form SKU No. 103
# Total Cost : 5000/-
# Product Name : Samosa
# QT : 250 
# Single Price : 20/-

In [1]:
data = {}

# for i in range(size):
#     i = (input("Enter Item Name:"))
#     product.append(i)

# # for i in range(size):
# #     print(product[i])


# for i in range(size):
#     i = int(input("Enter price of items"))
#     product_price.append(i)

# for i in range(size):
#     print(product[i], "=",product_price[i])


# size = int(input("Enter how many products are there:"))



sku1= int(input("enter sku (Unique Number)"))
product_name1 = str(input("Enter Product Name:"))
product_qty1 = int(input("enter quantity of product:"))
price1 = int(input("Enter price of single Product"))
list1 = [sku1, product_name1, product_qty1, price1]

sku2= int(input("enter sku (Unique Number)"))
product_name2 = str(input("Enter Product Name:"))
product_qty2 = int(input("enter quantity of product:"))
price2 = int(input("Enter price of single Product"))
list2 = [sku2, product_name2, product_qty2, price2]


sku3= int(input("enter sku (Unique Number)"))
product_name3 = str(input("Enter Product Name:"))
product_qty3 = int(input("enter quantity of product:"))
price3 = int(input("Enter price of single Product"))
list3 = [sku3, product_name3, product_qty3, price3]

sku4= int(input("enter sku (Unique Number)"))
product_name4 = str(input("Enter Product Name:"))
product_qty4 = int(input("enter quantity of product:"))
price4 = int(input("Enter price of single Product"))
list4 = [sku4, product_name4, product_qty4, price4]



data.append("Sku" : "")

print(data())

SyntaxError: invalid syntax (2685141223.py, line 50)

In [2]:
data = {}  

while True:
    sku = int(input("Enter SKU (Unique Number): "))
    product_name = input("Enter Product Name: ")
    product_qty = int(input("Enter Product QT: "))
    product_price = int(input("Enter Single Product Price: "))

    data[sku] = {
        "name": product_name,
        "qty": product_qty,
        "price": product_price
    }

    more = input("Do you Want Add more [Y/N]: ").strip().lower()
    if more != 'y':
        break

print("\n--- Output Section ---------")
print("------  Search Item ------")

search_sku = int(input("Enter Product Item Form SKU No.: "))

if search_sku in data:
    item = data[search_sku]
    total_cost = item["qty"] * item["price"]
    print(f"Total Cost : {total_cost}/-")
    print(f"Product Name : {item['name']}")
    print(f"QT : {item['qty']}")
    print(f"Single Price : {item['price']}/-")
else:
    print("Item not found!")

ValueError: invalid literal for int() with base 10: 'a'

In [ ]:
# Example :  Data [ 1 , 2 , 4 , 5 , 7 , 8 , 9 , 5 ]
# Second largest number = 9

data = [1, 2,44, 5, 17, 8, 9, 5]

cnvt = set(data)  
srt = sorted(cnvt)


second_largest = srt[-2] 
print(f"Second largest number = {second_largest}")

Second largest number = 17