In [1]:
print("hello")

hello

In [ ]:
%pip install pandas 


#dowanload pandas library

Requirement already satisfied: pandas in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd

print(pd.__version__)

# see pandas version

2.2.3

In [5]:
#data set

data = ["java","python","c++","c#"]
series = pd.Series(data)
print(series)

0      java
1    python
2       c++
3        c#
dtype: object

In [9]:
indexx = [101,102,103,104]
series = pd.Series(data,index=indexx)

print(series)

101      java
102    python
103       c++
104        c#
dtype: object

In [10]:
#accessing data using index
print(series[102])

python

In [12]:
#data frame

data = {
    "Name":["rohan","nishant","tiya", "Rahul", "Aditya"],
    "Age":[50,40,45,30,25],
    "Salary":[23000,235000,25000,27000,30000]
}
df = pd.DataFrame(data)
print(df)

      Name  Age  Salary
0    rohan   50   23000
1  nishant   40  235000
2     tiya   45   25000
3    Rahul   30   27000
4   Aditya   25   30000

In [13]:
#exporting data frame to csv file
df.to_csv("employee.csv",index=False)